<ion-view view-title="Редактировать цель">
    <ion-content>
        <form class="list" ng-submit="editGoal(g);">
            <label class="item item-input item-floating-label">
                <span class="input-label">Название</span>
                <input type="text" placeholder="Название" ng-required ng-model="g.name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Необходимая сумма</span>
                <input type="number" placeholder="Деньги" required ng-model="g.amount">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Картинка (необязательно)</span>
                <input type="url" placeholder="Url картинки (опционально)" ng-model="g.img">
            </label>
            <button type="submit" class="item button button-positive button-full">
                Сохранить
            </button>
        </form>
        <div class="list card">
            <div class="item item-image">
                <img ng-src="{{g.img}}">
            </div>
        </div>
    </ion-content>
</ion-view>
