
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="title" content="ЗАГОЛВООК ПЕНИСЕС" />
<meta name="description" content="Описание статьи.

Это очень интересная статья." />
<link rel="image_src" href="http://mysite.com/mypic.jpg" />

<ion-view view-title="Копилка">
    <ion-content loading="{{main.loading}}">
  <!-- <social name="{{main.goal.name}}" image="{{main.goal.img}}" object="{{main.goal}}"></social> -->
    <!-- <div>
     <button class="btn btn-medium font-bold"
     socialshare
     socialshare-provider="facebook"
     socialshare-type="sharer"
     socialshare-text="720kb"
     socialshare-media="main.goal.img"
     socialshare-url="http://kopilka.meteor.com"
     socialshare-popup-height="300"
     socialshare-popup-width="400"
     socialshare-trigger="click" >
     <i class="fa fa-facebook"></i> Share on Facebook (sharer)
       </button>
     </div> -->
   <!-- <div>
     <button class="btn btn-medium font-bold"
     socialshare
     socialshare-provider="vk"
     socialshare-text="720kb"
     socialshare-url="http://720kb.net"
     socialshare-popup-height="300"
     socialshare-popup-width="400"
     socialshare-trigger="click" >
     <i class="fa fa-vk"></i> Share on Vk
   </button>
   </div> -->
        <display-savings></display-savings>
        <h1 ng-if="!main.goal">Похоже что целей не выбрано</h1>
    </ion-content>
</ion-view>
