<ion-view view-title="Копилка">
    <ion-content>
        <div ng-click="showPopup()" gold-sound add-gold class="list card">
            <div class="item item-text-wrap" style="text-align: center;">
                <h1 class="padding"><b count-to="{{main.savings}}" value="{{main.oldValue}}" duration="3" filter="currency" params="₽"></b></h1>
                <h2>{{goal.amount}}</h2>
            </div>
            <div ng-if="main.goal.img" class="item item-image">
                <img ng-src="{{main.goal.img}}">
            </div>
        </div>
        <h1 ng-if="!main.goal">Похоже что целей не выбрано</h1>
        <h1 ng-if="main.goal && !main.goal.img">Похоже что у цели нет картинки</h1>
    </ion-content>
</ion-view>
