<ion-tabs class="tabs-positive tabs-icon-top tabs-color" ng-cloak>
    <ion-tab title="Копилка" icon-on="ion-social-usd" icon-off="ion-social-usd-outline" href="#/tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Цели" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/goals">
        <ion-nav-view name="tab-goals"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Задачи" icon-on="ion-android-checkbox" icon-off="ion-android-checkbox-outline" href="#/tab/tasks">
        <ion-nav-view name="tab-tasks"></ion-nav-view>
    </ion-tab>
    <ion-tab title="История" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Настройки" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
